<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
		<Example.Properties.Settings>
      <setting name="package" serializeAs="String">
          <value>Scikit-Learn</value>
      </setting>
      <setting name="category" serializeAs="String">
          <value />
      </setting>
      <setting name="algorithm" serializeAs="String">
          <value>LinearRegression</value>
      </setting>
      <setting name="dataset" serializeAs="String">
          <value>Boston.csv</value>
      </setting>
      <setting name="gpu" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="l1" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="l1_ratio" serializeAs="String">
          <value>0.5</value>
      </setting>
      <setting name="l2" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="l2_ratio" serializeAs="String">
          <value>0.5</value>
      </setting>
      <setting name="gpu_number" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="multithread" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="threads" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="dt" serializeAs="String">
          <value>gini</value>
      </setting>
  </Example.Properties.Settings>
    </userSettings>
</configuration>